<% if @user.admin? %>
<form action="#">
  <label for="article_id">Article ID</label>
  <input type="text" name="merge_with" />
  <input type="submit" name="merge" value="Merge" />
</form>
<% end  %>

