<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if current_user.admin? && !@article.nil? && !@article.id.blank? %>
  <h3>Merge Articles</h3>
  <%= form_tag merge_article_path, method: :put do %>
    <label for="article_id">Article ID</label>
    <input type="text" name="merge_with" />
    <input type="submit" name="merge" value="Merge" />
  <% end  %>
<% end  %>
